* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}

.font-inter {
    font-family: Inter;
    font-optical-sizing: auto;
}

/* Common Style */
.section-center {
    width: 88%;
    max-width: 1130px;
    margin: 0 auto;
}

.btn {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.text-center {
    text-align: center;
}



/* Header Section | 'Navber-Section' */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-container .nav-logo img {
    max-width: 120px;
}

.nav-container .nav-content {
    display: flex;
    gap: 28px;
}

.nav-container .nav-content p a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}


/* Hero-Section */
#hero {
    background: url('./assets/hero-bg.png');
    background-size: cover;
    color: #FFF;
}

.hero-container {
    text-align: center;
    align-items: center;
    padding: 80px 0 120px;
}

/* Hero-Content-Dot */
.hero-container .hero-content-dot {
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    margin: 0 auto 12px;
    background-color: #fffffff3;
    color: black;
    max-width: 250px;
    gap: 10px;
    border-radius: 1000px;
}

.hero-container .hero-content-dot .hc-text {
    color: #469165;
    font-weight: 500;
}

.hero-container .hero-content-dot .grn-dot {
    width: 22px;
    height: 22px;
    background-color: #DAE9E0;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-container .hero-content-dot .grn-sec-dot{
    width:16px;
    height:16px;
    background-color: #b3dcc4;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-container .hero-content-dot .grn-third-dot{
    width:8px;
    height:8px;
    background-color: #469165;
    border-radius:50%;
}

/* Hero-Text-Content */
.hero-container .hero-text-content h1 {
    text-transform: capitalize;
    font-size: 45px;
    opacity: 90%;
}

.hero-container .hero-text-content #grn-h1 {
    color: #30AB64 ;
}

.hero-container .hero-text-content p {
    margin: 15px 0 22px;
    line-height: 28px;
}

/* Hero-Button */
.hero-container .hero-btn .btn  {
    margin-right: 10px;
    font-size: 15px;
    font-weight: normal;
}

.hero-container .hero-btn .btn-trans  {
    background-color: transparent;
    border: 1px solid white;
}



/* Main Section | 'Section-1' */
#sec-1 {
    padding: 30px 0 0;
    background-color: #fbfbfb61;
}

.sec-1-container .text-center h2 {
    font-size: 35px;
    text-transform: capitalize;
}

.sec-1-container .text-center p {
    font-size: 10.5px;
    color: #627382;
    padding: 10px 0 32px;
}

.sec-1-container .sec-1-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.sec-1-container .sec-1-content .sec-1-card {
    max-width: 260px;
    height: 240px;
    padding: 40px 15px 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.112);

}

.sec-1-content 
.sec-1-card 
.sec-1-img {
    width: 50px;
    height: 50px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;    
}

.sec-1-content 
.sec-1-card 
.sec-1-img 
img {
    max-width: 24px;
}

.sec-1-content 
.sec-1-card 
h4 {
    font-size: 22px;
}

.sec-1-content 
.sec-1-card 
p {
    font-size: 13px;
    color: #627382;
    padding: 15px 0 0;
}



/* Section-2 */
#sec-2 {
    margin-top: 80px;
}

.sec-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-2-container .sec-2-img img {
    max-width: 500px;
    border-radius: 12px;
}

.sec-2-container .sec-2-content {
    width: 550px;
}

.sec-2-container .sec-2-content h5 {
    font-size: 16px ;
    font-weight: 500;
    color: #469165;
    text-transform: uppercase;
}

.sec-2-container .sec-2-content h2 {
    font-size: 40px ;
    color: #001931;
    text-transform: capitalize;
    margin: 10px 0;
}

.sec-2-container .sec-2-content p {
    font-size: 14px ;
    color: #627382;
    line-height: 20px;
    margin: 20px 0;
}

.sec-2-container 
.sec-2-content 
.sec-2-point-text div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px ;
    color: #001931;
    line-height: 20px;
    margin: 0;
    padding-bottom: 5px;
}



/* Section-3 */
#sec-3 {
    padding: 90px 0;
}

.sec-3-container {
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 70px 40px;
    text-align: center;
}

.sec-3-container h2 {
    font-size: 38px;
}

.sec-3-container p {
    font-size: 13px;
    padding: 15px 0 18px;
    color: #627382;
}

.sec-3-container .btn {
    font-weight: 500;
}









