* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: Inter;
    font-optical-sizing: auto;
}

/* Common Style */
.section-center {
    width: 88%;
    max-width: 1130px;
    margin: 0 auto;
}

.btn {
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    background-color: #469165;
    color: white;
    font-size: 15px;
    font-weight: 600;
}


/* Header Section | 'Navber' */
nav {
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-container .nav-logo img {
    max-width: 120px;
}

.nav-container .nav-content {
    display: flex;
    gap: 28px;
}

.nav-container .nav-content p a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

